.main { 
  width: 100%;
  min-height: 100vh
}
.navigation nav { 
  background-color:rgb(25, 44, 104);
  display: flex;
  justify-content: space-around;
  min-height: 3rem;
  line-height: 3rem;
}
.navbar div a{ 
  color: antiquewhite;
  text-decoration: none;
}
.navbar div a:hover{ 
  color: rgb(233, 186, 125);
}
.navbar div a:active{ 
  color: rgb(252, 255, 91);
}
.navbar div a:focus { 
  color: rgb(159, 173, 175);
}


.par-body{ 
  background-color: rgb(243, 252, 223);
  min-height: 93vh;
  text-align: center;
}
.home-page { 
 padding-top: 1rem;
}

/* Characters */
.characters-par{ 
  display: flex;
  flex-wrap: wrap;
}
.characters-par div{ 
  width: 48%;
}
.character{ 
  display: flex;
  margin: 0.5rem;
  background-color: rgb(212, 205, 205);
  border-radius: 1em;
}
.par-character{ 
  padding-top: 1rem;
}
.character div { 
   
  text-align: center;
  width: 100%;
}

.character div img{ 
  width: 10rem;
  height: auto;
  border-radius: 100%;
  padding: 1rem;
}

.chararcter-info{ 
  display: flex;
  flex-wrap: wrap;
}
.char-link, .char-link:focus, .char-link:active{ 
  text-decoration: none;
}
.char-link:hover{ 
  text-decoration: none;
  color:rgb(25, 44, 104);
}

.episodes-in-characters{ 
  display: flex;
  flex-wrap: wrap;
}
.episodes-in-characters div{ 
  width: 8em;
  padding: 0.1rem;
}
.hidden-overflow{ 
  max-height: 9em;
  overflow: hidden;
  text-overflow: ellipsis;
}
.show-more-episodes:hover{ 
  color: darkgoldenrod;
}
/* Search and filter bar */

.search-bar{ 
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-bar div{ 
  padding: 1rem;
}

/* epispdes */

.episode-par{ 
  background-color: rgb(212, 205, 205);
  border-radius: 1em;
  margin: 2rem 5rem 0 5rem;
}
.episode{
  display: flex;
  justify-content: space-around;
  padding: 2rem;
}
.characters-in-episode{ 
  display: flex;
  flex-wrap: wrap;
  justify-content:left;
}
.characters-in-episode div{ 
  width: 5em;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 0.3rem;
}
.characters-in-episode div img{ 
  width: 3em;
  height: auto;
  border-radius: 100%;
}


/* Locations */

.location-par{ 
  background-color: rgb(212, 205, 205);
  border-radius: 1em;
  margin: 2rem 5rem 0 5rem;
}
.location{
  display: flex;
  justify-content: space-around;
  padding: 2rem;
}


/* media query */

@media(max-width:760px){ 
  .character{ 
    display: block;
    margin: 1rem;
    width: 100%!important;
  }
  .chararcter-info{ 
    display: block;
  }
  .character-par{ 
    display: block;
  }
  .episode-par{ 
    margin: 0.5rem;
  }
  .location-par{ 
    margin: 0.5rem;
  }
}
@media(max-width:900px){ 
  .search-bar{ 
    display: block;
  }
  .search-bar div{ 
    padding: 0.5rem;
  }
}